@charset "utf-8";
body{
	background-image:url(../images/blue-iphone-wallpaper-1.jpg);
	 margin-bottom:50px;
	 margin-left:200px;
	 margin-right:200px;
	 margin-top:20px;
	 
	 
		}

#div1{ background-color:#CCC;
height:200px;
		}

		
p{
	color:#CCC;}
	
	
H2{ color:#FFF;
text-decoration:underline;
	
	}
	
B{ color:#009;
text-decoration:underline;
}	

/* CSS Document */

